# vim history file
.netrwhist

# ipython
dhist
security/

#other
*.sqlite
*.local

# config dirs
config/pudb
config/transmission-daemon
config/configstore

# vim plugins
vim/bundle/vim-ruby
vim/bundle/YouCompleteMe

