[submodule "vim/bundle/easymotion"]
	path = vim/bundle/easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/rooter"]
	path = vim/bundle/rooter
	url = https://github.com/airblade/vim-rooter.git
